<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Registro</title>
  </head>
  <body>
    <h1>Preencha o formulário abaixo</h1>
    <form action="/register" method="POST">
      <label for="username">Nome do Usuário: </label>
      <input type="text" name="username" id="username" />

      <label for="password">Senha: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
