<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuários</title>
  </head>
  <body>
    <h1>Usuários Cadastrados</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.username %></li>
      <% });%>
    </ul>
  </body>
</html>
