li {
  color: green;
}

li.moon {
  color: white;
}

h1 {
  color: purple;
  font-size: 50px;

  /*border-color: darkorchid;
  border-style: dashed;
  border-width: 1px;*/

  border: 1px dashed darkorchid;
}

body {
  background-image: url("https://img2.rtve.es/v/6759238?w=1600&preview=1671295670332.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
