<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercício 1</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Assine nossa Newsletter</h1>
      <p>
        Fique por dentro das últimas novidades sobre Node.js e desenvolvimento
        web backend!
      </p>

      <form action="/signup" method="post" class="signup-form">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu e-mail"
          required
        />
        <button type="submit">Inscrever-se</button>
      </form>
    </div>
  </body>
</html>
