<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucesso!</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Obrigado por se inscrever!</h1>
      <p>Você será o primeiro a receber nossas novidades.</p>
      <a href="/emails">Ver e-mails cadastrados</a>
      <a href="/">Voltar para a Home</a>
    </div>
  </body>
</html>
