body {
  margin: 0px;
}
.post-container {
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: #fffafa;
}

.post-container .post {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
}

.post-container .date {
  font-family: "Roboto";
  color: #008080;
}

h1 {
  font-family: "Montserrat";
}

.post-container div.post-content {
  font-family: "Open Sans";
}
