<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Renderizando HTML Dinâmico com EJS</h1>
    <p><%= message %> <% if(1 === 1){%> 
      <p>Verdadeiro</p>
      <% }else{%>
      <p>Verdadeiro</p>
      <%}  %>
      </p>

      <ul>
        <% for( let index = 0; index < 10; index++ ) { %>
        <li><%=index%></li>
        <% } %>
      </ul>
  </body>
</html>
